streamlit
openai
pandas
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pydantic[email]
pydantic-settings
python-dotenv
pytest
loguru
sentry-sdk[streamlit]
structlog
tenacity
email-validator
cryptography
Pillow
streamlit-elements
plotly
altair
streamlit-analytics
psutil
mixpanel
streamlit-authenticator
firebase-admin
google-cloud-firestore
pyrebase4
streamlit-firebase-auth
